{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container center">
    <img class="responsive-img" src="{% MEDIA_URL 'media/sweet-chariot-singers_logo5.png' %}"
      alt="Sweet Chariot Singers, Twickenham logo">
    <a class="waves-effect waves-light green darken-2 btn-large">Register Your Interest</a>
  </div>
  <div class="section">
    <div class="container">
      <h5><strong>New Sweet Adelines International chorus comes to Twickenham!</strong></h5>
      <p class="flow-text">We invite women across the region to join this exciting and dynamic choir.
        Make new friends, sing a range of exciting music, be creative and perform.
        led by award winning composer and conductor Sam Petchey, previous instructor and accompanist
        at the Royal Military School of Music, Kneller Hall. The high energy, harmony</p>
    </div>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
  
  {% if img_obj %}
    <h3>Succesfully uploaded : {{img_obj.title}}</h3>
    <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
  {% endif %}
{% endblock %}