{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row card-panel grey lighten-5 z-depth-1 team-info valign-wrapper">
      <div class="col s3">
        <img src="media/headshot_sam.png" alt="" class="circle responsive-img" /> <!-- notice the "circle" class -->
      </div>
      <div class="col s9">
        <span class="black-text">
          <h5>Sam Petchey - Music Director</h5><br />
          <p>Sam is a full-time professional musician, composer and producer. He runs the choir rehearsals, selects and arranges music, and prepares the choir for competitions and performances.</p>
        </span>
      </div>
    </div>
    <div class="row card-panel grey lighten-5 z-depth-1 team-info">
      <div class="col s3">
        <img src="media/headshot_amelia.png" alt="" class="circle responsive-img" /> <!-- notice the "circle" class -->
      </div>
      <div class="col s9">
        <span class="black-text">
          <h5>Amelia Petchey - Choir Manager</h5><br />
          <p>This is essentially Amelia's choir. She is the enthusiasm and driving force behind it. She loves to sing and make friendships. She ensures everyone is happy, and makes the final decisions.</p>
        </span>
      </div>
    </div>
    {% for vacancy in vacancies %}
      <div class="row card-panel grey lighten-5 z-depth-1 team-info">
        <span class="black-text">
          <h5>Vacancy - {{ vacancy.job_title }}</h5><br />
          <p>{{ vacancy.content }}</p>
          <form action="/vacancies/delete/{{ vacancy.id }}" method="post">
            {% csrf_token %}
            <button class="waves-effect waves-light btn red" type="Submit">Delete</button>
          </form> 
          <form action="/vacancies/update/{{ vacancy.id }}" method="post">
            {% csrf_token %}
            <button class="waves-effect waves-light btn modal-trigger" type="Submit">Update</a>
          </form>  
        </span>
      </div>    
    {% endfor %}
  </div>
  
  ...
  <div class="container center">
      <a><i class="medium material-icons modal-trigger" data-target="modal1">add</i></a>
      {% comment %} <a class="waves-effect waves-light btn modal-trigger" data-target="modal1">Modal</a> {% endcomment %}
  </div>
      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <form class="modal-content" action="/vacancies/save" method="post">
          {% csrf_token %}
          <label for="job_title">Job title: </label>
          <input id="job_title" type="text" name="job_title" value="">
          <label for="content">Content: </label>
          <input id="content" type="text" name="content">
          <input type="submit" value="Submit">
        </form>
        <form action="/vacancies/update/{{ vacancy.id }}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Submit">
       </form>

        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>
      <div id="modal2" class="modal">
        <form class="modal-content" action="/vacancies/update" method="post">
          {% csrf_token %}
          {% for vacancy in vacancies.id %}
          <label for="job_title">Job title: </label>
          <input id="job_title" type="text" name="job_title" value="{{ vacancy.job_title}}">
          <label for="content">Content: </label>
          <input id="content" type="text" name="content" value="{{ vacancy.content }}">
          {% endfor %}
          <input type="submit" value="Submit">
        </form>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>
    </div>
{% endblock %}
