{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col s6 card-panel grey lighten-5 z-depth-1 team-info">
      <div class="row valign-wrapper">
        <div class="col s3">
          <img src="media/headshot_sam.png" alt="" class="circle responsive-img" /> <!-- notice the "circle" class -->
        </div>
        <div class="col s9">
          <span class="black-text">
            <h5>Sam Petchey - Music Director</h5><br />
            <p>Sam is a full-time professional musician, composer and producer. He runs the choir rehearsals, selects and arranges music, and prepares the choir for competitions and performances.</p>
          </span>
        </div>
      </div>
    </div>
    <div class="col s6 card-panel grey lighten-5 z-depth-1 team-info">
      <div class="row valign-wrapper">
        <div class="col s3">
          <img src="media/headshot_amelia.png" alt="" class="circle responsive-img" /> <!-- notice the "circle" class -->
        </div>
        <div class="col s9">
          <span class="black-text">
            <h5>Amelia Petchey - Choir Manager</h5><br />
            <p>This is essentially Amelia's choir. She is the enthusiasm and driving force behind it. She loves to sing and make friendships. She ensures everyone is happy, and makes the final decisions.</p>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6 card-panel grey lighten-5 z-depth-1 team-info">
      <span class="black-text">
        <h5>Vacancy - Assistant Music Director</h5><br />
        <p>We are looking for a confident, friendly and encouraging singer and voice coach to be our Assistant Music Director. Proven ability to read music, sight-sing, conduct and lead vocal warm-ups is essential. Previous experience is valued but not essential. Duties include working alongside the Music Director in taking rehearsals, suggesting repertoire and preparing for performances and competitions</p>
      </span>
    </div>
    <div class="col s6 card-panel grey lighten-5 z-depth-1 team-info">
      <span class="black-text">
        <h5>Vacancy - Choir Wardrobe Manager</h5><br />
        <p>Looking amazing for performances is an essential element of Sweet Adeline Choruses. This is part of what choirs are judged on in competitions</p>
      </span>
    </div>
  </div>
{% endblock %}
