{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% block meta %}  
  <meta http-equiv = "X-UA-compatible" content="ie=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/>
  <link rel="stylesheet" href="assets/css/style.css">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script type="text/javascript" src="assets/js/materialize.js"></script>
  <script src="assets/js/script.js"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}
  
  <title>Sweet Chariot Singers {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper purple darken-2 z-depth-2">
        <a href="index.html"><img class="header-logo" src="assets/images/treble-home.png"
            alt="treble-clef home logo"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="news.html">News & Events</a></li>
          <li><a href="visit.html">Visit a Rehearsal</a></li>
          <li><a href="team.html">Meet the Team</a></li>
          <li><a href="songs.html">Learn New Songs</a></li>
          <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Log In</a>
        </ul>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider" tabindex="-1"></li>
          <li><a href="#!">three</a></li>
          <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
          <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="news.html">News & Event</a></li>
      <li><a href="rehearsals.html">Visit a Rehearsal</a></li>
      <li><a href="team.html">Meet the Team</a></li>
      <li><a href="songs.html">Learn New Songs</a></li>
    </ul>
  </header>

    {% if messages %}
    <div class="container"></div>
    {% endif %}



  
{% comment %} 

  <div class="container center">
    <img class="responsive-img" src="assets/images/sweet-chariot-singers_logo5.png"
      alt="Sweet Chariot Singers, Twickenham logo">
    <a class="waves-effect waves-light green darken-2 btn-large">Register Your Interest</a>
  </div>
  <div class="section">
    <div class="container">
      <h5><strong>New Sweet Adelines International chorus comes to Twickenham!</strong></h5>
      <p class="flow-text">We invite women across the region to join this exciting and dynamic choir.
        Make new friends, sing a range of exciting music, be creative and perform.
        led by award winning composer and conductor Sam Petchey, previous instructor and accompanist
        at the Royal Military School of Music, Kneller Hall. The high energy, harmony</p>
    </div>
  </div>
  <div class="section">
    <a class="waves-effect waves-light btn modal-trigger" data-target="modal1">Modal</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-copyright purple darken-2 z-depth-2">
      <div class="container white-text center">
        © Petchey Online Publishing Ltd.
      </div>
    </div>
  </footer>
  <!-- Compiled and minified CSS -->

  <!-- Compiled and minified JavaScript --> {% endcomment %}

</body>

</html>